/* sets button styles back to system defaults for opera */
input[type="submit"], input[type="button"] {
  padding: 1px 8px;
}

.error_explanation {
  border: 1px solid #bbb;
  background: #eee;
  color: #A9160E;
  padding: 10px;
  margin-bottom: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
  -webkit-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
  box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
}
.error_explanation ul {
  list-style: disc;
  margin-left: 20px;
}
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
  background-image: none;
  border: 1px solid red;
}
.fieldWithErrors {
  display: inline;
}
#info { color: green; }

label { display: block; color: #2e1f00; font-weight: normal; padding: 5px 0 2px 0; }
  .checkbox { display: inline; float: left; }
input[type=checkbox] { float: left; margin: 7px 4px 0 0; }

.formError { color: red; margin: 0 0 0 90px; display: block; clear: left; position: relative; top: -8px; }

#error_explanation { color: #000; margin-bottom: 10px; padding: 5px 10px; border: 1px solid #bbb; background: #fff; }
#error_explanation h2, #error_explanation p strong { color: red; margin: 0; }
#error_explanation p { margin: 0 0 3px 0; }

#container .flash_notice, #container .error_notice { color: green; padding: 10px 5px; }
  #container .error_notice { color: red; }
  #container .error_notice strong { font-weight: bold; }

fieldset {
  border: 1px solid #aaa;
  padding: 8px 12px;
  margin-top: 6px;
  margin-bottom: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #F0ECEA;
  background: rgba(190, 185, 185, 0.4);
  -moz-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
  -webkit-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
  box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
}
legend { color: #000; font-weight: bold; }

form #notes_to_user {
  margin-top: 2em;
  font-size: 1.2em;
}

form .actions {
  margin-top: 2em;
}

form label {
  font-size: 1.7em;
  margin-bottom: .25em;
}

form input {
  font-size: 1.7em;
  width: 25em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

form #link_submit {
  width: 7em;
}

form .field {
  margin-top: 2em;
}
