<h1><%= @page_title %></h1>

<table class="links">
  <tr>
    <th class="rank">Rank</th>
    <th class="shortcut">Shortcut</th>
    <th class="destination">Url</th>
  </tr>

  <% @links.each_with_index do |link, ii| %>
    <tr>
      <td class="rank"><%= ii + 1 %></td>
      <td class="shortcut"><%= link.shortcut %></td>
      <td class="destination"><%= link.url %></td>
    </tr>
  <% end %>
</table>
