body { font: .75em/1.4 "Lucida Grande",Verdana,sans-serif; text-align: center;}
.message { color: #999; border-top: 1px solid #bbb; padding-top: 5px; }
h1 { font-size: 1.2em; font-weight: bold; }
img { border: 0;}
#header { background: #ffd519 image-url('texture_strip.jpg') 0 100% repeat-x; padding-bottom: 2em; margin-bottom: 1.5em;}
  #header img#header_logo { padding: 1em 20px; }
