.flash {
  background: #fff;
  border: 1px solid #d00;
  padding: 5px;
  margin-top: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.15);
  -webkit-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.15);
  box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.15);
  text-shadow: 0.15em 0.15em 0.1em rgba(20, 20, 20, 0.1);
}

.flash.notice, .flash.confirmation {
  color: #4ea543;
  border-color: #4ea543;
}

.flash.mistake {
  border: 1px solid #d00;
  color: #d00;
}

#footer {
  color: #333;
  margin-top: 10px;
  padding-top: 7px;
  border-top: 1px solid #bbb;
  border-top: 1px solid rgba(40, 40, 40, 0.15);
}

table {
  text-align: left;
  border: 1px solid #bbb;
  margin: 0 0 12px 0;
  width: 100%;
  background-color: #fff;
  border-collapse: separate;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
  -webkit-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
  box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.2);
}
table thead { background-color: #f0ecea; }
table td, table th { padding: 4px 5px 5px 5px; }
table td.disabled { background: #e0e0e0; }
table td.default { background: #99ccff; }
table th { font-weight: bold; }
table td { border-top: 1px solid #ddd; }
tbody tr:nth-child(even) { background-color: #eee; }

table.shortcuts {
  table-layout: fixed;
  width:100%;
  white-space: nowrap;
}

table td.rank, table th.rank {
  white-space: nowrap;
  width: 10%;
  overflow: hidden;
}

table td.shortcut, table th.shortcut, table td.folder_name, table th.folder_name {
  white-space: nowrap;
  width: 20%;
  overflow: hidden;
}

table td.destination, table th.destination, table td.shortcut_count, table th.shortcut_count {
  white-space: nowrap;
  width: 60%;
  overflow: hidden;
}

table td.tiny-actions, table th.tiny-actions, table td.placeholder, table th.placeholder {
  white-space: nowrap;
  width: 10%;
}

table td.actions, table th.actions, table td.placeholder, table th.placeholder {
  white-space: nowrap;
  width: 20%;
}

th { font-weight: bold; white-space: nowrap; }

.look_at_me {
  margin-bottom: 10px;
  padding: 10px 10px 10px 25px;
  border: 1px solid #ccc;
  background-color: #e99;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.1);
  -webkit-box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.1);
  box-shadow: 2px 2px 7px rgba(20, 20, 20, 0.1);
}

#shortcut_submit {
  margin-top: 1em;
}
